h1 {
    
    text-align: center;
}

body {
    
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgb(148, 148, 255);
    
}
figcaption {
    padding: 1px;
    font-size: 15px;
    width: 400px;
    border-color: black;
    border-width: 15px;
    background-color: dodgerblue;
    text-align: justify;
}

.UCI {

    background-color: rgba(20, 20, 199, 0.541);
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    text-align: center;
    font: bold;    
    font-size: 16px;
}

.container {

    padding: 20px;
    background-color: whitesmoke;
}
