<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/styles.css" media="screen"> 

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    

    <title> Project 2 </title>
  </head>
  <header class = "UCI">
        
        <h1> Sales Analysis Project </h1>
        
    </header>

  <body>
    
        <h1>Beau's Visualization Page</h1>
    
    <div class="container">
        <section class = "row">
            <div class="col-md-8">
            
                <section>
                    
                    </div>        
                    
                        <select id='selected-item' onchange = "generateMap();">
                            
                            <option value="Accessories">Accessories</option>
                            <option value="City_Skirts">City Skirts</option>
                            <option value="City_Trousers">City Trousers</option>
                            <option value="Dresses">Dresses</option>
                            <option value="Jackets">Jackets</option>
                            <option value="Outer_Wear">Outer Wear</option>
                            <option value="Over_Coats">Over Coats</option>
                            <option value="Shirt_Waist">Shirt Waist</option>
                            <option value="Sweat_T-Shirts">Sweat T-Shirts</option>
                            <option value="Sweaters">Sweaters</option>
                            <option value="Trousers">Trousers</option>
                        </select>

                    </div>  
                    <div id ="lineChart"></div>
                    <h1><strong>Line by month</strong></h1><p>
                            This trend line chart displays the monthly sales revenue for all
                             stores based on selected product line by year displayed in different colors.
                              User can select any product line from the drop down menu and the chart will
                               displays the sales revenue trends for the selected product line</p>
                
                </section>

            </div>
            <div class="col-md-4">
                    <section class = "row">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <section>
                                        
                                        <h3 class="text-center">Buttons</h3>
                                        <a class="btn btn-primary btn-lg" href="/prod_by_city_m"  role="button">Product Revenue</a><br><br>
                                        <a class="btn btn-primary btn-lg" href="/table_s"  role="button">Table by City</a><br><br>
                                        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a><br><br>
                                    </section>
                                </div>
                            </div>
                    </section>
                </div>
        </section>
    </div> 
    <h1></h1>
    <footer class = "UCI">
        <div class = "row">
            <div class = "col-md-2">
                <a href = "https://bootcamp.ce.uci.edu/data/" target = _blank><img src = "../static/assets/images/uci2.jpg" alt = "UC Irvine Data Analytics Bootcamp page" height = 78px width = 78px></a>
            </div>
            <div class = "col-mid-10">
                <br><h3>University of California, Irvine. Data Analytics Bootcamp.</h3>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src = "../static/js/line_chart.js"></script>  
</body>
</html>