<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/styles.css" media="screen"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script> -->
    <!-- <script src="https://raw.github.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>-->
    
    
    <style>
        #map-container {
            position: relative;
            height: 400px;
            width: 100%;
            padding: 100px;
        }

        #map {
            position: relative;
            
            width: 450px;
            margin: 10px;
            padding: 10px;
            height: 225px;
            float: left;
            width: 100%;
            border: 5px;
            object-fit: scale-down;
        }
    </style>

    <title> Project 2 </title>
  </head>
  <header class = "UCI">
        
        <h1> Sales Analysis Project </h1>
        
    </header>

  <body>
    
    <h1></h1>
    <div class="container">
        <section class = "row">
            <div class="col-md-8">
            
                <section>
                    
                    <!-- <p> SVG Visualization Goes here:</p><br><br><br><br><br> -->
                   
                    <div class="col-md-12">
                             <div id='map-container'>
                                
                                    <div id ="map"> </div>

                            </div>
                    </div>

                    <!-- <div>
                          <div class="dropdown">
                                <button id="linesBtn" class="dropbtn btn btn-primary btn-lg">Select Product</button>
                                    <div class="dropdown-content">
                                        
                                        <a href="#" onclick="generateMap('Accessories')">Accessories</a>
                                        <a href="#" onclick="generateMap('City Skirts')">City Skirts</a>
                                        <a href="#" onclick="generateMap('City Trousers')">City Trousers</a>
                                        <a href="#" onclick="generateMap('Dresses')">Dresses</a>
                                        <a href="#" onclick="generateMap('Jackets')">Jackets</a>
                                        <a href="#" onclick="generateMap('Outer Wear')">Outer Wear</a>
                                        <a href="#" onclick="generateMap('Over Coats')">Over Coats</a>
                                        <a href="#" onclick="generateMap('Shirt Waist')">Shirt Waist</a>
                                        <a href="#" onclick="generateMap('Sweat T-Shirts')">Sweat T-Shirts</a>
                                        <a href="#" onclick="generateMap('Sweaters')">Sweaters</a>
                                        <a href="#" onclick="generateMap('Trousers')">Trousers</a>
                                        
                                    </div>
                              </div>

                    </div> -->
                <div>
                        <select id='selected-item' onchange = "generateMap();">
                        
                            <option value="Accessories">Accessories</option>
                            <option value="City Skirts">City Skirts</option>
                            <option value="City Trousers">City Trousers</option>
                            <option value="Dresses">Dresses</option>
                            <option value="Jackets">Jackets</option>
                            <option value="Outer Wear">Outer Wear</option>
                            <option value="Over Coats">Over Coats</option>
                            <option value="Shirt Waist">Shirt Waist</option>
                            <option value="Sweat T-Shirts">Sweat T-Shirts</option>
                            <option value="Sweaters">Sweaters</option>
                            <option value="Trousers">Trousers</option>
                        </select>

                </div>        
                
                   
            


                    
                    <h><strong>Select the line you wish to analyze.</strong></h><p>
                    This Geomap displays the store locations on US Map. The size of the circle represents the volume of sales quantity for the selected product line from that city store for all the years.</p>
                
                </section>

            </div>
                <div class="col-md-4">
                        <section class = "row">
                                <div class="col-md-4">
                                    <div class="col-md-4">
                                        <section>
                                            
                                            <h3 class="text-center">Buttons</h3>
                                            <a class="btn btn-primary btn-lg" href="/table_s"  role="button">Sai's Visual </a><br><br>
                                            <a class="btn btn-primary btn-lg" href="/scatter_b"  role="button">Beau's visual</a><br><br>
                                            <a class="btn btn-primary btn-lg" href="/"  role="button">Home</a><br><br>
                                        </section>
                                    </div>
                                </div>
                        </section>
                    
                </div>    
        </section>
    </div> 
    <h1></h1>
    <footer class = "UCI">
        <div class = "row">
            <div class = "col-md-2">
                <a href = "https://bootcamp.ce.uci.edu/data/" target = _blank><img src = "../static/assets/images/uci2.jpg" alt = "UC Irvine Data Analytics Bootcamp page" height = 78px width = 78px></a>
            </div>
            <div class = "col-mid-10">
                <br><h3>University of California, Irvine. Data Analytics Bootcamp.</h3>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <script src="../static/js/geoMap.js"></script> -->
    <script src="../static/js/data.js"></script>
    <script src="../static/js/practice_geo.js"></script>

  </body>
</html>